@charset "utf-8";

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
}

header > div {
    display: grid;
}

header > h1 {
    margin: 0px;
}

img {
    width: 300px;
    height: 300px;
    margin-left: auto;
}

div {
    margin: auto;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
}



body {
    background-color: rgba(68, 3, 57)
}