@charset "utf-8";

@media only screen and (max-width: 1000px) {
    body {
        margin-left: 0%;
        margin-right: 0%;
    }

    p {
        font-size: 15px;
    }

    img {
        height: 200px;
        width: 200px;
    }

    nav.all ul li {
        font-size: 15px;

    }

    h1 {
        font-size: 25px;
    }
}

@media only screen and (max-width: 500px) {
    body {
        margin-left: 0%;
        margin-right: 0%;
    }

    p {
        font-size: 12px;
    }

    img {
        height: 150px;
        width: 150px;
    }

    nav.all ul li {
        font-size: 12px;

    }

    h1 {
        font-size: 20px;
    }
}